<div>
  <div id="left-side">
    <h2>Sign-up</h2>
    <messages></messages>
    <div v-show="!formSubmitted">
      <p>To sign-up, enter your name, email and choose a password.</p>
      <form class="form-horizontal well" @submit.prevent="signMeUp()">
        <fieldset>
          <label for="accountName">Name</label>
          <input v-model="account.name" data-focus-me="focusInput" class="input-block-level" type="text"
                 id="accountName" placeholder="Name" required="">
        </fieldset>
        <fieldset>
          <label for="email">Email</label>
          <input v-model="account.email" class="input-block-level" type="email" id="email" placeholder="Email"
                 required="">
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input v-model="account.password" class="input-block-level" type="password" id="password"
                 placeholder="Password" required="">
        </fieldset>
        <fieldset>
          <button type="submit" class="submit">Sign up!</button>
        </fieldset>
      </form>
    </div>
  </div>
  <logo></logo>
</div>
