/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
  font-family: 'DancingScriptOTRegular';
  src: url('../fonts/DancingScript-Regular-webfont.eot');
  src: url('../fonts/DancingScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DancingScript-Regular-webfont.woff') format('woff'),
  url('../fonts/DancingScript-Regular-webfont.ttf') format('truetype'),
  url('../fonts/DancingScript-Regular-webfont.svg#DancingScriptOTRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
