/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chromeframe {
  position: absolute;
  top: 0;
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */

body {
  font: 13px Helmet, Freesans, sans-serif;
  background-color: #330066;
  padding-bottom: 30px;
  color: #fff;
}

/* We like off-black for text. */

select, input, textarea {
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

p, li {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

a {
  color: #d13126;
  text-decoration: none;
  &:hover {
    color: #FF3;
    text-decoration: underline;
  }
  &:visited, &:focus {
    color: #FF3;
    outline: 0;
  }
}

h1 a {
  color: #FF3;
  &:hover {
    text-decoration: none;
  }
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */

::-moz-selection, ::selection {
  background: #d13126;
  color: #fff;
  text-shadow: none;
}

/*	j.mp/webkit-tap-highlight-color */

a:link {
  -webkit-tap-highlight-color: #d13126;
}

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Mozilla doesn't style place holders by default */

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #a9a9a9;
}

h1 {
  font-family: 'DancingScriptOTRegular', Helmet, Freesans, sans-serif;
  letter-spacing: 0;
  text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871;
  color: #FF3;
  font-size: 2.5em;
  padding-bottom: 0.6em;
}

h2 {
  font-size: 1.8em;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 0.6em;
  color: #987FB2;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
  color: #b56bff;
}

ul {
  margin-left: 0;
  padding-left: 40px;
  list-style: disc;
  padding-bottom: 2em;
  padding-top: 1em;
}

button, a.button {
  font-size: 1.5em;
  color: #ffffff;
  padding: 10px 20px;
  background-color: #d13126;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0px solid #000000;
  -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0), 0px 2px 0px rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

button:hover, a.button:hover, button:focus, a.button:focus {
  background-color: #a93227;
  text-decoration: none;
}

button.yellow, a.button.yellow {
  color: #000;
  background-color: #fcd700;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0), 0px 2px 0px rgba(255, 255, 255, 0.3);
}

button.yellow:hover, a.button.yellow:hover {
  background-color: #c8a300;
}

button.small, a.button.small {
  font-size: 1em;
  padding: 7px 15px;
}

p {
  button, a.button {
    font-size: inherit;
  }
}

a.logout {
  text-transform: none;
  font-size: 0.7em;
  margin-left: 15px;
  padding: 7px 15px;
  width: auto;
  display: inline;
}

form {
  label {
    display: block;
    opacity: 0.3;
    padding-left: 20px;
  }
  input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 7px 0 20px 0;
    font-size: 1.5em;
    padding: 10px;
    color: #000;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
}

button:focus, a.button:focus {
  outline: 0;
}

form button.submit {
  margin-top: 20px;
}

.info, .success, .warning, .error, .validation {
  margin: 10px 0px 20px 0;
  font-size: 1.3em;
  text-align: left;
  border-radius: 10px;
  padding: 10px 20px;
}

.info {
  color: #fff;
  background-color: #00529B;
}

.success {
  color: #fff;
  background-color: #4F8A10;
}

.warning {
  color: #fff;
  background-color: #9F6000;
}

.error {
  color: #fff;
  background-color: #D8000C;
}

#container {
  padding: 16px;
}

#right-side {
  padding-top: 20px;
  text-align: center;
  position: relative;
  img {
    max-width: 75%;
  }
}

table {
  clear: both;
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
  background-color: #4a0292;
  td {
    padding: 15px 10px;
  }
  th {
    padding: 15px 10px;
    text-align: left;
    font-weight: normal;
    background-color: #6101c2;
    color: #b56bff;
  }
  td.right {
    text-align: right;
  }
}

.fa-3 {
  font-size: 1.5em;
}

.share {
  position: absolute;
  top: 159px;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: green;
  height: 70px;
  line-height: 60px;
  border-radius: 10px;
  border: 5px solid lightgreen;
  font-size: 1.2em;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -webkit-backface-visibility: hidden;
  -moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.7), inset 0px 0px 1px rgba(255, 255, 255, 0.6);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0), 0px 2px 0px rgba(0, 0, 0, 0.5);
  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
  }
}

.share-this {
  position: absolute;
  right: 12px;
  font-size: 120px;
  color: white;
  text-shadow: 4px 6px 0px rgba(0, 0, 0, 0), 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.share-this-span {
  position: absolute;
  top: 62px;
  right: 24px;
  font-size: 1.2em;
  display: block;
  max-width: 95px;
  color: #000000;
}

footer {
  clear: both;
  padding-top: 50px;
  p {
    font-size: 1.2em;
  }
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {}

/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {
  h1 {
    font-size: 4em;
  }
  #right-side img {
    max-width: 100%;
  }
  button, a.button {
    display: inline;
    width: auto;
    margin-right: 10px;
  }
  .share {
    top: 200px;
  }
  .share-this {
    right: 55px;
  }
  .share-this-span {
    right: 68px;
  }
}

@media screen and (min-width: 768px) {
  #container {
    padding-left: 20px;
  }
  #left-side {
    float: left;
    width: 49%;
  }
  #right-side {
    float: right;
    width: 49%;
  }
}

@media screen and (min-width: 992px) {
  #container {
    margin: 0 auto;
    width: 859px;
    padding-left: 0;
  }
  h1 {
    font-size: 5em;
  }
}

@media screen and (min-width: 1200px) {}
