<div>
  <div id="left-side">
    <messages></messages>
    <div v-show="!formSubmitted">
      <p>Enter your name below.</p>
      <form class="form-horizontal well" @submit.prevent="allocate()">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" id="name" v-model="name">
        </fieldset>
        <fieldset>
          <button type="submit" class="submit">Submit!</button>
        </fieldset>
      </form>
    </div>
  </div>
  <logo></logo>
</div>
