<div>
  <div id="left-side">
    <h2>Login</h2>
    <messages></messages>
    <form class="form-horizontal well" @submit.prevent="signIn()">
      <fieldset>
        <label for="email">Email</label>
        <input v-model="person.email" class="input-block-level" type="email" id="email" placeholder="Email"
               required="">
      </fieldset>
      <fieldset>
        <label for="password">Password</label>
        <input v-model="person.password" class="input-block-level" type="password" id="password"
               placeholder="Password" required="">
      </fieldset>
      <fieldset>
        <button type="submit" class="submit">Log in</button>
      </fieldset>
    </form>
  </div>
  <logo></logo>
</div>
